*{
            box-sizing: border-box;
            font:caption;
            font-size: 18px;
            color: black;
            padding: 0;
            border-radius: 20px;
            text-align: center;
            margin: 3px;
           
            

}

.body{
            box-sizing: border-box;
            width: 100%;
            min-height: 200px;
            max-height: 600px;
            max-width: 600px;
            min-width: 200px ;
            align-items: center;
   

    


}


.container{
            background-color: rgb(128, 128, 128);
            flex-direction: column;
            box-sizing: border-box;
            border-radius: 14px;
            min-width: 100px;
            max-width: 500px;
            min-height: 100px;
            max-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20%;
            align-items: center; 

    }


.header{
            box-sizing: border-box;
            display: flex;
            width: 100%;
            display: inline-block;
            vertical-align: top; 
            margin: 0%;
            background: linear-gradient( 120deg, aqua , rgba(34, 34, 150, 0.74)  100%);
            border-radius: 10px;
        


    
}

 .label{
            padding: 18px;
            text-align: center;
            align-items: center;
            flex-direction: column;
    


}

.form-content{
            box-sizing: border-box;
            display: inline-block;
            margin-bottom: 8px;
            position: relative;
            padding-bottom: 18px;

}


